#  Leap year

In [3]:
def is_leap(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False


year = int(input())
print(is_leap(year))

2024
True

In [4]:
def is_leap(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
year = int(input())
print(is_leap(year))

2002
False

# Input()

In [5]:
n = int(input())

for i in range (1,n+1):
    print(i,end ="")

5
12345

# Product of Numbers

In [6]:
def product(arr) :
    answer = 1
    for i in range(1,arr +1):
        answer = (answer * i) % (10**9 + 7)
    print( answer )
product(5)

120

# join()

In [3]:
list_1=["apple","banana","orange"]
y = " ".join(list_1)
print(y)

apple banana orange

In [2]:
my_dict ={'a':"Apple",'b':"mango",}
separator = "test"
x = separator.join(my_dict.values())
print(x)

Appletestmango

In [47]:
num1 = "12"
num2 = "456"
z = num2.join(num1)
print(z)

14562

In [51]:
num1 = "123"
num2 = "456"
z = num2.join(num1)
print(z)

145624563

In [53]:
str = '-'.join('hello')
print(str)

h-e-l-l-o

In [55]:
str = '-'.join("hello")
print(str)

h-e-l-l-o

In [58]:
list1=['g','e','e','k','s']
print("".join(list1))
list1="geeks"
print("*".join(list1))

geeks
g*e*e*k*s

In [67]:
tup1 =('1','2','3','4')
print("-".join(tup1))

tup1 =('1','2','3','4')
s ="&"
y = s.join(tup1)
print(y)

1-2-3-4
1&2&3&4

In [69]:
set1={'1','2','3'}
print("-".join(set1))

1-2-3

In [72]:
dict1={"1":'a',"2": 'b',"3":'c'}
s="^"
print(s.join(dict1))

1^2^3

In [7]:
words = ["apple","","banana","cherry",""]
separator = "#"
result = separator.join(words)
result1 = separator.join(word if word else "none" for word in words )
print(result)
print(result1)

apple##banana#cherry#
apple#none#banana#cherry#none

# Comprehensive for (comparing with)  for loop

In [32]:
words = ["apple","","banana","cherry",""]
result = [word  if word else "none" for word in words]
print(result)

['apple', 'none', 'banana', 'cherry', 'none']

In [24]:
words = ["apple","","banana","cherry",""]

for word in words:
    if (word):
        print(word)
    else:
        print("None")

apple
None
banana
cherry
None

# split

In [9]:
string = "one8two8three"
words = string.split("8")
print(words)

['one', 'two', 'three']

In [91]:
text ="geeks for geeks"
print(text.split())

word = 'geeks, for, geeks'
print(word.split(','))

word = 'geeks: for: geeks'
print(word.split(':'))

word = 'CatBatSatFatOr'
print(word.split('t'))

['geeks', 'for', 'geeks']
['geeks', ' for', ' geeks']
['geeks', ' for', ' geeks']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']

In [6]:
word = 'geeks, for, geeks'
print(word.split(','))
word = word.split(',')
word = [w.strip() for w in word ]
print(word)

['geeks', ' for', ' geeks']
['geeks', 'for', 'geeks']

In [98]:
word = " geeks, for, geeks, sakthi"

print(word.split(',',0 ))

print(word.split(',', 2))

print(word.split(',',4))

print(word.split(',',1))

[' geeks, for, geeks, sakthi']
[' geeks', ' for', ' geeks, sakthi']
[' geeks', ' for', ' geeks', ' sakthi']
[' geeks', ' for, geeks, sakthi']

# lstrip

In [11]:
str = "   string with leading and trailing whitespaces."
print(str.lstrip(""))
str = "string with leading and trailing whitespaces.   "
print(str.rstrip('.'))

   string with leading and trailing whitespaces.
string with leading and trailing whitespaces.

In [125]:
string = " g  e  e  k"
print(string.replace("  ",""))

 geek

In [8]:
list_1 = ['g','e','e','k']
list_1 =(str(list_1))
print(list_1.replace('k','s'))

['g', 'e', 'e', 's']

In [56]:
list_1 =['g','e','e','e','k']
print("".join(list_1))

geeek

In [134]:
string = " g e e k"
print("".join(string.split()))

geek

In [15]:
string ="   www.geeksforgeeks.org www.   "

string_new = string.lstrip(" w.")
print(string_new)


string_r =string.rstrip(" w.")
print(string_r)

geeksforgeeks.org www.
   www.geeksforgeeks.org

In [94]:
string ="   www.geeksforgeeks.org .w. ww."
string.rstrip('w.')

'   www.geeksforgeeks.org .w. '

# replace

In [13]:
string = "b h a r a t h i"
x = string.replace(" ","")
print(x)

bharathi

In [12]:
x = "b h a r a t h i"
print(x.split(" "))
print(''.join(x.split()))

['b', 'h', 'a', 'r', 'a', 't', 'h', 'i']
bharathi

# comprehensive for

In [168]:
numbers =[1,2,3,4,5]
square = [i ** 2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [170]:
numbers = [ 1, 2, 3 , 4 , 5]

square = map(lambda x : x**2,numbers)
result = list(square)
print(result)

[1, 4, 9, 16, 25]

In [180]:
number = [1,2,3,4,5]
output =[]
for i in number:
    if i%2 == 0:
        output.append(i*2)
print( output)

[4, 8]

In [199]:
number = [1, 2, 3, 4, 5]
output = [i * 2 for i in number if i % 2 == 0]
print(output)

[4, 8]

In [207]:
number = [1,2,3,4,5]
ans =[]
for i in number:
    if i% 2 == 0:
        ans.append(i)
  
    else:
        print("False")
print(ans)

1
3
5
[2, 4]

In [210]:
number =[1,2,3,4,5]
ans =[i if  i% 2 == 0 else False for i in number]
print(ans)

[False, 2, False, 4, False]

In [195]:
a = [1,2,3]
b =[4,5,6]
ans=[]
for i in a:
    if i not in b:
        ans.append(i)
print(ans)

[1, 2, 3]

In [198]:
a = [1,2,3]
b =[4,5,6]
ans=[i for i in a if i not in b]
print(ans)

[1, 2, 3]

In [212]:
number = [1, 2, 3, 4, 5]
output = [i * 2 if i % 2 == 0 else i for i in number]
print(output)

[1, 4, 3, 8, 5]

In [218]:
x = "anxiety"
my_list= []
for i in x:
    my_list.append(i)
print(my_list)

['a', 'n', 'x', 'i', 'e', 't', 'y']

In [2]:
x = "anxiety"
my_list =[i for i in x]
print(my_list)

['a', 'n', 'x', 'i', 'e', 't', 'y']

In [7]:
myset = {3,2,1}
print(list(myset))
makelist = lambda i :list(i) 
mylist = makelist(myset)
print(mylist)
type(mylist)

[1, 2, 3]
[1, 2, 3]

list

In [12]:
myset = {9,5,3,4}
makelist = lambda i: list(i)
mylist = makelist(myset)
print(mylist)

[9, 3, 4, 5]

In [19]:
def x(y):
    for i in range(y):
        if i%2 ==0:
            if i%3==0:
                print(i)
x(8)

0
6

In [25]:
y = 8
ans = [i  for i in range(y) if i%2 == 0 if i%3==0]
print(ans)

[0, 6]

In [30]:
y = 8
for i in range(y):
    if  i % 2 == 0:
        print(i,"even")
    else:
        print (i,"false")

0 even
1 false
2 even
3 false
4 even
5 false
6 even
7 false

In [8]:
y = 8
ans = [(i,"even") if i%2 ==0 else (i,"false") for i in range(y)]
ans = [{i :"even"} if i%2 ==0 else {i:"false"} for i in range(y)]

print(ans)

[{0: 'even'}, {1: 'false'}, {2: 'even'}, {3: 'false'}, {4: 'even'}, {5: 'false'}, {6: 'even'}, {7: 'false'}]

In [2]:
for i in range(2,3):
    for j in range(1,11):
        print(i ,"*",j ,"=", i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [3]:

ans = [i*j for i in range(2,3) for j in range(1,11)]
print(ans)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
dict_1 = [1,2,3,4]
result =[ i* i for i in dict_1]
print(result)

[1, 4, 9, 16]

In [26]:
dict_1 ={'a':1,'b':2,'c':3}
result = {key: value * value for key,value in dict_1.items()}
print(result)

{'a': 1, 'b': 4, 'c': 9}

In [29]:
words = ["amazon","flipkart","facebook","google"]
length = { w :len(w) for w in words}
print(length)

{'amazon': 6, 'flipkart': 8, 'facebook': 8, 'google': 6}

In [10]:
name =['gkb','rsm','selvam','jothi']

def upper(name):
    return name.upper()

result = list(map(upper,name))
print(result)

['GKB', 'RSM', 'SELVAM', 'JOTHI']

In [42]:
numbers =[1,2,3,4,5,6,7,8,9,10]

def even(n):
    if n % 2==0:
        return True

result = list(filter(even,numbers))
print(result)

[2, 4, 6, 8, 10]

In [11]:
garbage = [1,2,'A',3,'B',True, False]

def num(n):
    return isinstance(n,int) 

result = list(filter(num,garbage))
print(result)

[1, 2, 3, True, False]