# try except

In [1]:
a = 5
b = 0
quotient = a / b

ZeroDivisionError: division by zero

In [2]:
a = 5
b = 0

try:
    quotient = a / b
    print (quotient)
    
except:
    print("anything by 0 is infinite")

anything by 0 is infinite

In [3]:
word1 = "abc"
word2 = 123
try:
    greeting = word1+word2
    print(greeting)
    
except TypeError as e:
    print(f"You can only concatenate strings to strings {e}")
    
except:
    print("Something else went wrong")

You can only concatenate strings to strings can only concatenate str (not "int") to str

In [ ]:
a = 5
b = "zero"

try:
    quotient = a /b
    print(quotient)
    
except ZeroDivisionError:
    print(" You cannot divide by zero")
    
except TypeError:
    
    print("You must convert string to float or integer before diving")
except NameError:
    
    print("A variable you are trying to use does not exist")

In [4]:
a = 5
b = "zero"

try:
    quotient = a / b
    print(quotient)
    
except(ZeroDivisionError, TypeError) as e:
    
    print(f"You cannot divide by zero {e}")
    print(f"You must convert string to float or integer before diving {e}")
    
except NameError:
    print("A variable you are trying to use does not exist")
    
except:
    print("other error")

You cannot divide by zero unsupported operand type(s) for /: 'int' and 'str'
You must convert string to float or integer before diving unsupported operand type(s) for /: 'int' and 'str'

In [5]:
try:
    greeting = word1 + word2
    print(greeting)
    
except TypeError:
    print("You can only concatenate strings to strings")

except:
    print("Somethings else went wrong")
print("I am out of the code")

You can only concatenate strings to strings
I am out of the code

# raise

In [6]:
x = - 5

if not type(x) is str:
    raise TypeError("Sorry, only strings are allowed")
print("I am out of the code")

TypeError: Sorry, only strings are allowed

In [7]:
x = - 5
if not x  >= 0:
        raise TypeError("Sorry, please enter a number greather than or equal to 0")

TypeError: Sorry, please enter a number greather than or equal to 0

In [8]:
a = 5
b = 0

try:
    quotient = a / b
    print(quotient)
    
except Exception as e:
    print(e)

division by zero

In [9]:
try:
    even = [0,2,4,6]
    print(even[5])
    
except ZeroDivisionError:
    print("Denominator cannot be 0")
    
except IndexError:
    print("Index is out of bound")

Index is out of bound

# try except else

In [12]:
try:
    num = int(input("Enter a number:  "))
    #print(num,type(num))
    assert num % 2 == 0 
    
except:
    print("not an even number")
    
else:
    reciprocal = 1/ num
    print(reciprocal)

Enter a number:  5
not an even number

# try except finally

In [14]:
try:
    a = 5
    b = 10
    result = a / b
    print(result)

except:
    print("ZeroDivision Error")

finally:
    print("This is finally block")

0.5
This is finally block

# extend, append

In [15]:
list_1 = ['apple','mango', 'orange']
print("Original list is : ",str(list_1))
list_1.append("kiwi")
print(" Appended list is: ",str(list_1))

Original list is :  ['apple', 'mango', 'orange']
 Appended list is:  ['apple', 'mango', 'orange', 'kiwi']

In [21]:
list_1 = ['apple','mango', 'orange']
print("Original list is : ",str(list_1))
list_1.append(['guava','custard','jamun'])
print("Appended list is: ",str(list_1))

Original list is :  ['apple', 'mango', 'orange']
Appended list is:  ['apple', 'mango', 'orange', ['guava', 'custard', 'jamun']]

In [19]:
list_1 = ['apple','mango', 'orange']
print("Original list is : ",str(list_1))
list_1.extend('kiwi')
print("Appended list is: ",str(list_1))

Original list is :  ['apple', 'mango', 'orange']
Appended list is:  ['apple', 'mango', 'orange', 'k', 'i', 'w', 'i']

In [20]:
list_1 = ['apple','mango', 'orange']
print("Original list is : ",str(list_1))
list_1.extend(['guava','custard','jamun'])
print("Appended list is: ",str(list_1))

Original list is :  ['apple', 'mango', 'orange']
Appended list is:  ['apple', 'mango', 'orange', 'guava', 'custard', 'jamun']

In [22]:
list_2=["orange","mango"]
list_2.extend(['kiwi'])
print(str(list_2))

['orange', 'mango', 'kiwi']

# try except

In [23]:
a = 5
b = 0

try:
    quotient = a / b
    print (quotient)
except Exception as  e:
    print(f"anything by 0 is infinite {e}")

anything by 0 is infinite division by zero