In [35]:
word = 'geeks, for, geeks'
print(word.split(','))
result = "".join(word.replace(" ",""))
print(result)

['geeks', ' for', ' geeks']
geeks,for,geeks

# replace

In [1]:
st = "b h a r a t h i 123"
x = st.replace(" ",",")
print(x)

b,h,a,r,a,t,h,i,123

In [1]:
ly = ['one','two','three','1234']

x = [i for i in ly if i.isalpha()]
print(x)

x = [i for i in ly if i.isnumeric()]
print(x)

['one', 'two', 'three']
['1234']

In [22]:
ly = ['one','two','three','1234']

x = [s for s in ly if s.isalpha() and not s.startswith('o')]
print(x)

ly = ['one','two','three','1234']
x = [i for i in ly if i.isalpha() and  not i.startswith('t') or ('z' in i)]
print(x)

['two', 'three']
['one']

In [26]:
import re

x =["onexxxtwo","threexxxfour","fiveyyysix","sevenyyyeight"]

rematch = [ i for i in x if re.match('.*xxx.*',i)]
print(rematch)

['onexxxtwo', 'threexxxfour']

In [46]:
x =["onexxxtwo","threexxxfour","fiveyyysix","sevenyyyeight"]

l = [i for i in x if 'xxx' in i ]
print(l)
print('\n')

lnot = [ i for i in x if 'xxx' not in i]
print(lnot)
print('\n')


x =["onexxxtwo","threexxxfour","fiveyyysix","sevenyyyeight"]
l1 = ['zzz' if 'yyy' in i else i for i in x]
print(l1)
print('\n')


y = [i for i in x if i.startswith('t')]
print(y)
print('\n')

y =[i for i in x if not i.startswith('t')]
print(y)
print('\n')

y = [i for i in x if i.endswith('t')]
print(y)
print('\n')

y =[i for i in x if not i.endswith('t')]
print(y)
print('\n')

y =[i for i in x if i.lower()]
print(y)
print('\n')

y =[i.upper() for i in x ]
print(y)
print('\n')

y =[i.upper() if i.islower() else i for i in x]
print(y)
print('\n')

['onexxxtwo', 'threexxxfour']


['fiveyyysix', 'sevenyyyeight']


['onexxxtwo', 'threexxxfour', 'zzz', 'zzz']


['threexxxfour']


['onexxxtwo', 'fiveyyysix', 'sevenyyyeight']


['sevenyyyeight']


['onexxxtwo', 'threexxxfour', 'fiveyyysix']


['onexxxtwo', 'threexxxfour', 'fiveyyysix', 'sevenyyyeight']


['ONEXXXTWO', 'THREEXXXFOUR', 'FIVEYYYSIX', 'SEVENYYYEIGHT']


['ONEXXXTWO', 'THREEXXXFOUR', 'FIVEYYYSIX', 'SEVENYYYEIGHT']

In [26]:
x =["onexxxtwo","threexxxfour","fiveyyysix","sevenyyyeight"]

l = [i.replace('xxx',' ') for  i in x]
print(l)

['one two', 'three four', 'fiveyyysix', 'sevenyyyeight']

In [3]:
# list indexing-- l[index] = new_value

list_1 = ['ragav','sakthi','magi','xxx']
list_1[3] = 'kavi'
print(list_1)

['ragav', 'sakthi', 'magi', 'kavi']

In [37]:
#using for loop
list_1 = ['ragav','sakthi','magi','xxx','yyy']
for i in range(len(list_1)):
    if list_1[i] == 'xxx':
        list_1[i] ='kavi'
    if list_1[i] =='yyy':
        list_1[i]='GKB'
print(list_1)

['ragav', 'sakthi', 'magi', 'kavi', 'GKB']

In [33]:
list_1 = ['ragav','sakthi','magi','xxx','yyy']
result = ['kavi' if item =='xxx' else 'gkb' if item =='yyy' else item for item in list_1]
print(result)

['ragav', 'sakthi', 'magi', 'kavi', 'gkb']

In [40]:
# using while loop
lst = ['ragav','sakthi','magi','xxx','yyy']
i = 0
while i < len(lst):
    if lst[i] == 'xxx':
        lst[i] ='kavi'
    if lst[i] =='yyy':
        lst[i] ='gkb'
    i += 1
print(lst)

['ragav', 'sakthi', 'magi', 'kavi', 'gkb']

In [54]:
# using lambda func
list_1 = ['ragav','sakthi','magi','xxx','yyy']
result = list(map(lambda list_1 : list_1.replace('xxx','kavi').replace('yyy','gkb'),list_1))
print(result)

['ragav', 'sakthi', 'magi', 'kavi', 'gkb']

In [6]:
# using list slicing 

# i = l.index('value')
#l = l[:index]+['new_value']+[index+1:]


l = ['ragav','sakthi','magi','xxx','yyy','zzz']

i = l.index('xxx')
l = l[:i] + ['kavi'] + l[i+1:]

i2 = l.index('yyy')
l = l[:i2] + ['gkb'] + l[i2+1:]

i3 = l.index('zzz')
l = l[:i] + ['veni'] + l[i3+1:]

print(l)

['ragav', 'sakthi', 'magi', 'veni']

In [13]:
l = ['dog','cat','rat','bat','eagle','cow','goat']
i = l.index('rat')
l = l[:i] +['lion']+l[i+1:]
print(l)

i1 = l.index('eagle')
l = l[:i1]+['tiger']+l[i1+1:]
print(l)

['dog', 'cat', 'lion', 'bat', 'eagle', 'cow', 'goat']
['dog', 'cat', 'lion', 'bat', 'tiger', 'cow', 'goat']

# import reduce

In [93]:
from functools import reduce

l = ['ragav','sakthi','magi','xxx']

l1 = reduce(lambda a, b : a + ['GKB'] if b == 'xxx' else a + [b], l, [])

print(l1)

['ragav', 'sakthi', 'magi', 'GKB']

In [2]:
from functools import reduce

l =['dog','cat','cow','goat']

l1 = reduce(lambda a, b : a + ['bear'] if b == 'goat' else  a + [b] ,l,[])
print(l1)

['dog', 'cat', 'cow', 'bear']

In [18]:
from functools import reduce

l = ['cat','dog','rat','bat','eagle','cow','goat']

l1 = reduce(lambda a,b : a + ['lion'] if b == 'eagle' else a + [b] , l, [])
print(l1)

['cat', 'dog', 'rat', 'bat', 'lion', 'cow', 'goat']

# lambda

In [2]:
def square(n):
    return n**2
square(5)

25

In [5]:
square = lambda n : n**2

square(5)

25

In [16]:
x = lambda x , y :  x if x > y else y
x(20,3)

20

In [55]:
square = []
for i in range(1,10,2):
    square.append(i**2)
print(square)

[1, 9, 25, 49, 81]

In [61]:
def square(n):
    return n**2
square = map(square,range(1,10,2))
list(square)

[1, 9, 25, 49, 81]

In [63]:
square = list(map(lambda n : n**2 ,range(1,10,2)))
print(square)

[1, 9, 25, 49, 81]

In [65]:
x = [1,2,3]
y = [4,5,6]
result = list(map(lambda x,y : x*y, x,y))
print(result)

[4, 10, 18]

In [71]:
x = [1,2,3]
y = [4,5,6]
result = set(map(lambda x,y : x+y , x,y))
print(result)

{9, 5, 7}

In [83]:
x = [1,2,3]
y =[4,5,6]
result = dict(map(lambda x, y :(x , y := x*y), x, y))
print(result)

{1: 4, 2: 10, 3: 18}

# filter

In [87]:
nums = [1,34,23,56,88,89,44]
odd_nums =[i for i in nums if  i % 2 !=0]
print(odd_nums)

[1, 23, 89]

In [98]:
nums = [1,34,23,56,88,89,44]
for i in nums:
    if i%2 != 0:
        print(i)

1
23
89

# reduce

In [101]:
nums = [1,2,3,4,5]
total = 0
for i in nums:
    total = total + i
print(total)

15

In [5]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, nums)
print(total)

15

# medium.com

In [112]:
def my_fun(x):
    return  x**2
x = my_fun(5)
print(x)

25

In [111]:
y = lambda x : x**2
x = y(5)
print(x)

25

In [128]:
num_1 = int(input("enter a number: "))
num_2 = int(input("enter a number: "))
mult = lambda x,y : x*y
print("multiplication is:  ",mult(num_1,num_2))

enter a number: 3
enter a number: 4
multiplication is:   12

In [142]:
def mul(a,b):
    return a*b
a = [1,2,3]
b = [1,4,5]
c = list(map(mul,a,b))
print(c)

[1, 8, 15]

In [135]:
a = [1,2,3]
b = [1,4,5]
result = list(map(lambda a,b : a*b, a,b))
print(result)

[1, 8, 15]

In [143]:
def cube(x):
    return x*x*x
x=[1,2,3]
result = list(map(lambda x: cube(x),x))
print(result)

[1, 8, 27]

In [146]:
prices = [20,500,456,776,232,56,55,7263,5235579]
even_prices =list(filter(lambda x : (x % 2 == 0),prices))
print(even_prices)

[20, 500, 456, 776, 232, 56]

In [148]:
prices = [20,500,456,776,232,56,55,7263,5235579]
filt_prices =list(filter(lambda x : x >= 500 ,prices))
print(filt_prices)

[500, 776, 7263, 5235579]

In [152]:
prices = [20,500,456,776,232,56,55,7263,5235579]
filt_prices =list(filter(lambda x : (x >= 1 and x <= 500) ,prices))
print(filt_prices)

[20, 500, 456, 232, 56, 55]

In [162]:
a = int(input("Enter lower bound: "))
b = int(input("Enter upper bound: "))
numbers = range(a,b)
c = list(filter(lambda x :(x > 0 and x % 2 == 0),numbers))
print(c)

Enter lower bound: 5
Enter upper bound: 20
[6, 8, 10, 12, 14, 16, 18]

In [161]:
def even(n):
    return n % 2 == 0

n = [1,2,3,4,5,6,7,8,9,10]
x = list(filter(even,n))
print(x)

[2, 4, 6, 8, 10]

In [177]:
n = [1,2,3,4,5]

square = list(map(lambda num : num*2,n))
print(square)

odd = list(filter(lambda num : num % 2 != 0,n))
print(odd)

even = list(filter(lambda num :num % 2 == 0, n))
print(even)

even = list(map(lambda num :num %2 == 0, n))
print(even)

[2, 4, 6, 8, 10]
[1, 3, 5]
[2, 4]
[False, True, False, True, False]

In [7]:
def iseven(num):
    return num%2 ==0

num = [1,2,3,4,5]
even = list(filter(iseven,num))
print(even)

[2, 4]

In [12]:
num =[1,2,3,4,5]

even = list(filter(lambda a : a % 2 ==0,num))
print(even)

[2, 4]

In [17]:

num = [1,2,3,4,5]
n= list(map(lambda n: n+2,num))
print(n)

[3, 4, 5, 6, 7]

In [20]:
from functools import reduce

def add_all(a,b):
    return a+b

nums= [1,2,3,4,5]
sums = reduce(add_all,nums)
print(sums)

15

In [22]:
nums= [1,2,3,4,5]
sums = reduce(lambda a,b : a+b,nums)
print(sums)

15