In [122]:
class Solution():
    def __init__(self):
        pass
    
    def temp(self,celsius):
        if celsius != 0:
            kelvin = celsius + 273.15
            fahrenheit = celsius *1.80 + 32.00
            ans = [kelvin,fahrenheit]
            return ans
        else:
            return []
        
    def sum_of_integer(self,num_1, num_2):
        sum = num_1 + num_2
        return sum

    def smallest_possible(self, n):
        if n % 2 == 0:
            return n
        return n*2     
    
    def good_pairs(self, arr):
        count=0
        for i in range(len(arr)):
            for j in range(i + 1, len(arr)):
                if arr[i] == arr[j] :
                    count = count + 1
        return count
    

solution = Solution()

y = 122.11
x = solution.temp(y)
kelvin_value = round(x[0], 2)
fahrenheit_value = round(x[1], 2) 
print(f"the temperature of {y} in Kelvin is {kelvin_value} and in  fahrenheit is {fahrenheit_value}")
print("")

y = solution.sum_of_integer(-4,5)
print(f"the sum is {y}")
print("")
   
y = 5
z = solution.smallest_possible(y)
print(f"the even smallest even possible of {y} is {z} ")
print("")

z = solution.good_pairs([1,2,5,1,2,3])
print(f"the number of good pairs is {z}")
print("")

the temperature of 122.11 in Kelvin is 395.26 and in  fahrenheit is 251.8

the sum is 1

the even smallest even possible of 5 is 10

the number of good pairs is 2

In [88]:
def smallest_possible(n):
    if n%2 == 0:
        return n
    return n*2        
    
y = 9
z = smallest_possible(y)
print(f"the even smallest possible of {y} is {z} ")

the even smallest possible of 9 is 18

In [123]:
def good_pairs(arr):
    count=0
    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            if arr[i] == arr[j] :
                count = count + 1
    return count
z =good_pairs([1,2,3,1,2,3])
print(z)

3

In [125]:
 def temp(celsius):
        if celsius != 0:
            kelvin = celsius + 273.15
            fahrenheit = celsius *1.80 + 32.00
            ans = [kelvin,fahrenheit]
            return ans
        else:
            return []
y = 122.11
x = temp(y)
kelvin_value = round(x[0], 2)
fahrenheit_value = round(x[1], 2) 
print(f"the temperature of {y} in Kelvin is {kelvin_value} and in  fahrenheit is {fahrenheit_value}")
print("")

the temperature of 122.11 in Kelvin is 395.26 and in  fahrenheit is 251.8

In [128]:
def sum_of_integer(num_1, num_2):
        sum = num_1 + num_2
        return sum
y = sum_of_integer(-4,-5)
print(f"the sum is {y}")
print("")

the sum is -9

# nested loop example - medium.com

In [30]:
num = [1,2,3]
ques = ["What","When","How"]
for i in num:
    print(i)
    for j in ques:
        print(j)

1
What
When
How
2
What
When
How
3
What
When
How

In [39]:
list_1 = [['Kavi', 100, 8],['Sakthi', 100, 7],['Magi', 100, 6]]
for i in list_1:
    print(i)

['Kavi', 100, 8]
['Sakthi', 100, 7]
['Magi', 100, 6]

In [45]:
list_2 = [['deer','fawn'], ['lion','cub'], ['hen','chick']]
for i in list_2:
    for j in i:
        print(j)

deer
fawn
lion
cub
hen
chick

In [56]:
list = [[1,2],[3,4]]
m = 1
for i in range(0,2):
    m = m * 10
    for j in range(0,2):
        list[i][j] =list[i][j] * m
print(list)

[[10, 20], [300, 400]]

In [130]:
for i in range(1,5):
    for j in range(i):
        print(i, end = "")
    print("")

1
22
333
4444

In [68]:
for i in 'python learning for kids':
    if i == "a" or i == 'e' or i == 'i' or i== 'o' or i == 'u':
        continue
    print(i, end = "")

pythn lrnng fr kds

In [75]:
n = 5
for i in range(0,n):
    for j in range(i):
        print("*", end =" ")
    print(" ")
for i in range(n,0,-1):
    for j in range(i):
        print("*", end =" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
n = 5
for i in range(0,n):
    for j in range(i):
        print("*", end = "")
    print("")

*
**
***
****

In [2]:
n = 5
x = 1 
for i in range(0,n):
    for j in range(0,x):
        print("*", end = "")
    x = x + 2
    print("")

*
***
*****
*******
*********

In [109]:
for i in range(0,3):
    for j in range(0,3):
        print( "bharathi" ,end =" ")
    print(" ")

bharathi bharathi bharathi
bharathi bharathi bharathi
bharathi bharathi bharathi

In [110]:
for i in range(0,6):
    for j in range(0,3):
        print("*", end = " ")
    print(" ")

* * *
* * *
* * *
* * *
* * *
* * *

In [128]:
names = ['ragav','sakthi', 'magi']
for i in names:
    count = 0
    while count < 5:
        print(i, end=" ")
        count = count + 1
    print()

ragav ragav ragav ragav ragav
sakthi sakthi sakthi sakthi sakthi
magi magi magi magi magi

In [1]:
for i in range(4):
    for j in range(4):
        if i == j :
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [12]:
s = [10,20,30,40]
total = 0
for i in s:
    total = total + i
print(total)
x = sum(s)
print(x)

100
100

In [1]:
s = ['a','e','i','o','u']
for i in "python logic for kids":
    if i in s:
        continue
    print(i, end = "")

pythn lgc fr kds

In [18]:
s = ['a','e','i','o','u']
for i in "python logic for kids":
    if i in s:
        break
    print(i, end = "")

pyth

In [20]:
ord('a')

97