# 1. first 10 natural numbers

In [1]:
def natural(number):
    for i in range(1,number+1):
        print(i)
natural(10)

1
2
3
4
5
6
7
8
9
10

# 2. print even numbers

In [2]:
def even(start,end):
    for i in range(start,end,+1):
        if i % 2==0:
            print(i)
    return

In [3]:

even(20,25)

20
22
24

# 3. sum of given numbers

In [4]:
def sum_of_numbers(start,end):
    total=0
    for i in range(start, end + 1):
        total = total+ i
    return total
result= sum_of_numbers(1,10)
print(f"the total is {result}")

the total is 55

# 4. sum of all odd number in given range

In [5]:
def odd_numbers(start,end):
    total=0
    for i in range(start,end + 1):
        if i%2 !=0:
            total=total+i
    return total
result=odd_numbers(1,5)
print(f"the sum of odd numbers is {result}" )

the sum of odd numbers is 9

# 5. Multiplication table

In [6]:
def mul(n):
    for i in range (10):
        print(n,"*",i,"=",n*i)
mul(7)

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

# 6.display numbers from a list using a for loop

In [7]:
def print_list(list1):
    for i in list1:
        print(i)            
list1=[10,20,30,40,50]
print_list(list1)

10
20
30
40
50

# 7. count the total number of digits in a number

In [8]:
def num_of_digit(number):
    count=0
    for i in number:
        count=count+1
    return count
x=num_of_digit("123456")
print(x)

6

# 8.check if the given string is a palindrome.

In [9]:
def palindrome(word):
    length=len(word)
    for i in range(length//2):
        if word[i]!=word[length -i -1]:
            return False
    return True
word="level"
if palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")

level is a palindrome

# 9.accepts a word from the user and reverses it

In [10]:
def word(string):
    rev_str=""
    for i in string:
        rev_str=i+rev_str
    print(rev_str)
word("bharathi")

ihtarahb

# 10.Armstrong number

In [19]:
def armstrong(num):
    
    original_num = num
    arm = 0

    while num > 0:
        rem = num % 10          # 153%10=3  15%10=5 1%10=1
        arm = arm + rem ** 3   #3**3=27, 27+125=152 ,152+1=153
        num = num // 10       #15 ,//10 ,1

    if original_num == arm:
        return "Valid"
    else:
        return "Invalid"

x = armstrong(153)
print(x)

Valid

# 11. even and odd

In [ ]:
def count(number):
    even_count=0
    odd_count=0
    for i in number:
        if i%2==0:
            print(i ,"even")
            even_count=even_count+1
        else:
            print(i,"odd") 
            odd_count=odd_count+1
    return even_count,odd_count
number=[12,25,32,43,57,66,77,88,99]
count(number)

# 12. display numbers in a range except prime number

In [54]:
def non_prime_numbers(start, end):
        non_primes = []
        if start > 1 and end >= start:
            for num in range(start, end + 1):
                prime = True  # This variable isn't used, you can remove it
                for i in range(2, num):
                    if num % i == 0:
                        non_primes.append(num)
                        break
            return non_primes   

x = non_prime_numbers(11, 20)
print(x)

[12, 14, 15, 16, 18, 20]

In [58]:
def prime_number(start,end):
    primes=[]
    if start > 1 and end >= start:
        for num in range(start,end+1):
                prime=True
                for i in range(2,num):
                    if(num%i)==0:
                        prime=False
                        break
                if prime:
                    primes.append(num)
        return primes

x=prime_number(11,20)
print(x)

[11, 13, 17, 19]

# 13. Fibonacci 0-50

In [ ]:
def fibonacci(start,end):
    num1 = 0
    num2 = 1
    for i in range(start,end+1):
        print(num1,end = " ")
        result = num1 + num2
        num1 = num2
        num2 = result
    return result
fibonacci(0,50)

# 14. Factorial

In [ ]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
x=fact(5)
print(f"the fact is {x}")

# 15. Accept string and count alphabets and numbers

In [ ]:
def accept(x):
    alphabet="abcdefghijklmnopqrstuvwxyz"
    numeric="0123456789"
    alphabet_count=0
    numeric_count=0
    for i in x:
        if i in alphabet:
            alphabet_count=alphabet_count+1
        elif i in numeric:
            numeric_count= numeric_count+1
        else:
            print("special character:",i)
    return alphabet_count,numeric_count
x,y=accept("123ab*cdf")
print("alphabet_count:",x)
print("numeric_count",y)

# 16. Iterates 1 to 25

In [18]:
def inte(number):
    for i in range(0,number):
        print(i)
    return 
inte(25)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# 17.Validity of password

In [ ]:
def validity(password):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    print(alphabet.islower())
    numeric = "0123456789"
    special_characters = "*,@"
    bool_list=[]
    if len(password)>=8:
        for char in password:
            if char.islower():
                bool_list.append(True)
            elif char.isupper():
                bool_list.append(True)
            elif char in special_characters:
                bool_list.append(True)
            elif char in numeric:
                bool_list.append(True)
            else:
                bool_list.append(False)
    else:
        bool_list.append(False)
    if any(bool_list)== False:
        print("bharathi")
validity("s@68niM9")

# 18. Convert month name to number of days

In [ ]:
def month_name(month):
    month_data = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31}
    for k,v in month_data.items():
        if k ==  month:
            return v
    return 0    
y = "April"
x = month_name(y)
print(f"Number of days in {y} is :{x} ")

In [1]:
def armstrong(num):
    
    original_num = num
    arm = 0

    while num > 0:
        rem = num % 10          # 153%10=3  15%10=5 1%10=1
        arm = arm + rem ** 3   #3**3=27, 27+125=152 ,152+1=153
        num = num // 10       #15 ,10 ,1

    if original_num == arm:
        return "Valid"
    else:
        return "Invalid"

x = armstrong(153)
print(x)

Valid

In [ ]:
def diff(n):
    element_sum = 0
    digit_sum = 0
    
    for i in n:
        element_sum = element_sum + i
        
        total = 0
        while i > 0:
            digit_sum = digit_sum + total % 10
            total //= 10
    return element_sum, digit_sum
x,y = diff([10,20,30])
print("Element sum is", x)
print("Digit sum is ",y)
print("Difference is  ", x - y)