# 1. Print first 10 natural number

In [1]:
def print_natural_number(n):
    i = 1
    while i <= n:
        print(i)
        i = i + 1        
print_natural_number(10)

1
2
3
4
5
6
7
8
9
10

# 2. Number pattern

In [10]:

def number_pattern(n):
    for i in range(n):
        for j in range(i):
            print (i,end=" ")
        print("")
number_pattern(6)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 3. Sum of all numbers from 1 to a given number

In [3]:
def sum_of_number(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i    
    return sum
sum_of_number(0,20)

210

In [4]:
def sum_of_number(start,end):
    start=1
    sum=0
    for i in range(1,end+1):
        sum=sum+i    
    return sum
sum_of_number(1,7)

28

# 4. Multiplication table

In [5]:
def mul_table(n):
    for i in range(1,10):
        print(i,"*",n,"=",n*i)
mul_table(7)

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63

# 5.Print numbers from a list using loop

In [6]:
def display(number):
    for i in number:
        print(i)
display([10,20,30,40,50,60,70])

10
20
30
40
50
60
70

 # 6.Count the total number of digits in a number

In [7]:
def count_digit(num):
    count=0
    while num!=0:
        num=num//10
        count=count+1
    return count
x=count_digit(12345)
print(x)

5

# 7.Print the following pattern

In [35]:
def number_pattern(n):
    for i in range(n,0,-1):
        for j in range(i,0,-1):
            print(j,end="")
        print("")
number_pattern(4)

4321
321
21
1

# 8. Print list in reverse order using a loop

In [9]:
def rev_order(l2):
    length=len(l2)-1
    for i in range(length,-1,-1):
        print(l2[i])
my_list=[10,20,30,40,50,60,70,80,90,100]
rev_order(my_list)

100
90
80
70
60
50
40
30
20
10

# 9.Display numbers from -10 to -1 using for loop

In [10]:
def negative(start,end):
    for i in range(start,end+1):
        print(i)     
negative(-10,-1)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# 10.Use else block to display a message “Done” after successful execution of for loop

In [1]:
def block(start,end):
    for i in range(start,end):
        print(i)
    else:
        print("Done!")
block(0,5)

0
1
2
3
4
Done!

# 11.Program to display all prime numbers within a range

In [15]:
def prime_number(start,end):
    primes=[]
    if start > 1 and end >= start:
        for num in range(start,end+1):
                prime=True
                for i in range(2,num):
                    if(num%i)==0:
                        prime=False
                        break
                if prime:
                    primes.append(num)
    return primes

x=prime_number(11,20)
print(x)

[11, 13, 17, 19]

# 12.Display Fibonacci series up to 10 terms

In [78]:
def fibonacci(start,end):
    num1 = 0
    num2 = 1
    for i in range(start,end+1):
        print(num1, end =" ")
        result = num1 + num2
        num1 = num2
        num2 = result
    return result
fibonacci(0,10)

0 1 1 2 3 5 8 13 21 34 55

144

# 13.Find the factorial of a given number

In [79]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
x=fact(5)
print(x)

120

# 14.Reverse a given integer number

In [10]:
def reverse_integer_number(n):
    rev_number = ""
    for i in range(len(n)-1,-1,-1):
        rev_number += n[i]
    return rev_number
x = reverse_integer_number("12345")
print(f"the reverse of number is {x}")

the reverse of number is 54321

# 15. Display elements from a given list present at odd index positions

In [21]:
def odd_index(x):
    for i in range(1,len(x),2):
        print(x[i])
my_list=[10,20,30,40,50,60]
odd_index(my_list)

20
40
60

# 16.Cube of all numbers from 1 to a given number

In [1]:
def cube(start,end):
    cube = []
    for i in range(1,end+1):
        i_cube=i*i*i
        cube.append(i)
    return cube
x = cube(1,5)
print(f"the cube is {x}")

the cube is [1, 2, 3, 4, 5]

In [90]:
def cube(start,end):
    cube = []
    for i in range(1,end+1):
        cubes_i=i*i*i
        cube.append((i,cubes_i))
    return cube
x = cube(1,5)
for num, cube_value in x:
    print(f"the cube of {num}  is {cube_value}")

the cube of 1  is 1
the cube of 2  is 8
the cube of 3  is 27
the cube of 4  is 64
the cube of 5  is 125

# 17. Sum of the series upto n terms

In [17]:
def sum_of_series(n):
    for i in range(0,n+1,1):
        sum = n*(n+1)/2
    return sum
x = sum_of_series(8)
print(f"the sum is {x}")

the sum is 36.0

# 18. Print the following pattern

In [91]:
def print_pattern(n):
    for i in range(n):
        for j in range(i):
            print("*",end ="")
        print("")
    for i in range(n,0,-1):
        for j in range(i,0,-1):
            print("*", end="")
        print("")
print_pattern(6)

*
**
***
****
*****
******
*****
****
***
**
*